# Default ignored files
/shelf/
/workspace.xml

# Package Files #
*.jar
*.war
*.ear

### macOs template
*.DS_Store
.AppleDouble
.LSOverride

# Intellij project files
.idea
.idea/*.xml
*.iml
out
gen
build
rebel.xml